html {
    padding: 2%;
    background-color: rgb(246, 246, 246);
    font-family: sans-serif;
}

.shape-rectangle {
    display: block;
    width: 50%; 

    min-height: 80px;
    margin-left: auto;
    margin-right: auto;
}

.task-box {
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.title-font {
    text-align: center;
    font-size: 6rem;
    font-weight: normal;

    margin-bottom: 30px; 
    /* distanta de jos de unde incepe chenarul */

    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    display: block;
}

.input-row {
    display: flex;
    align-items: center;
    border: none;
    height: 80px;
    padding-left: 20px;
}


.arrow-icon {
    font-size: 1.5rem;
    margin-right: 20px;
    transform: rotate(90deg);  
    display: inline-block;
}

.input-text {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 300;
}

.todo-input {
    border: none;
    outline: none; /* sa elimin chenarul at cand dau click */
    background: transparent;

    width: 100%;  /*ocup tot spatiul dupa sageata*/
    height: 100%;

    font-size: 1.5rem;
    font-family: inherit;
    font-weight: 300;
    color: #4d4d4d;
}

.todo-input::placeholder {
    font-style: italic;
    color: rgb(230, 230, 230);
}

/* new styke for the added row */
.task-item {
    display: flex;
    align-items: flex-start;

    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;

    border-top: 1px solid #ededed;
    background-color: white;
    word-break: break-word; /*fortez ruperea cuvintelor f lungi*/
}

.task-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.task-text-display {
    font-size: 1.5rem;
    color: #4d4d4d;
    font-weight: 300;
    line-height: 1.2;

    white-space: normal;     
    overflow-wrap: anywhere; 
    flex: 1;
}

.circle-icon {
    width: 1.5rem;
    height: 1.5rem;

    border: 1px solid #e6e6e6;
    border-radius: 50%;

    margin-top: 5px;
    margin-right: 20px;
    
    cursor: pointer;
    display: inline-block;

    /* pentru a preveni deformarea textului daca e prea lung */
    flex-shrink: 0;
}

/* COLORS */

.red-brown-color {
    color: rgb(203,45,62);
}

.very-light-gray {
    color: rgb(200, 200, 200);
}

.dark-gray {
    color: rgb(129,129,129);
}


