html {
    padding: 2%;
    background-color: rgb(246, 246, 246);
    font-family: sans-serif;
}

.shape-rectangle {
    display: block;
    width: 50%; 

    min-height: 80px;
    margin-left: auto;
    margin-right: auto;
}

.title-font {
    text-align: center;
    font-size: 6rem;
    font-weight: normal;

    margin-bottom: 30px; 
    /* distanta de jos de unde incepe chenarul */

    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    display: block;
}

.input-row {
    display: flex;
    align-items: center;

    border: 2px solid transparent;

    height: 80px;
    padding-left: 20px;
}

.input-row:focus-within {
    border-color: rgb(203, 45, 62);
}

.arrow-icon {
    font-size: 1.5rem;
    margin-right: 20px;
    transform: rotate(90deg);  
    display: none;
    cursor: pointer;
}

.arrow-icon.active{
    color: black;
}

.task-box {
    border: none;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgb(200, 200, 200);
}

.input-text {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 300;
}

.todo-input {
    border: none;
    outline: none; /* sa elimin chenarul at cand dau click */
    background: transparent;

    width: 100%;  /*ocup tot spatiul dupa sageata*/
    height: 100%;

    font-size: 1.5rem;
    font-family: inherit;
    font-weight: 300;
    color: #4d4d4d;
}

.todo-input::placeholder {
    font-style: italic;
    color: rgb(230, 230, 230);
}

/* new styke for the added row */
.task-item {
    display: flex;
    align-items: flex-start;

    padding: 25px 20px;

    border: 2px solid transparent;
    border-top: 1px solid #ededed; /*linie fina intre taskuri*/

    word-break: break-word; /*fortez ruperea cuvintelor f lungi*/
}

.task-item:focus-within {
    border: 2px solid rgb(203, 45, 62); 
}

.task-text-display {
    font-size: 1.5rem;
    color: #4d4d4d;
    font-weight: 300;
    line-height: 1.2;
    
    overflow-wrap: anywhere;    /*daca scriu un cuv lung, acesta se va rupe*/
    flex: 1;
}   

.task-item.completed .task-text-display {
    text-decoration: line-through; /* Taie textul cu o linie */
    color: rgb(200, 200, 200);
}

/*before => pseudo-element pentru a insera elementul inauntru*/
.task-item.completed .circle-icon::before {
    content: "\2713"; /*cod unicode pentru bifa*/ 
    color: #125c2f;
}

.task-item.completed .circle-icon {
    border-color: #125c2f;
}

.task-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.circle-icon {
    width: 1.5rem;
    height: 1.5rem;

    border: 1px solid #e6e6e6;
    border-radius: 50%;

    margin-top: 5px;
    margin-right: 20px;

    cursor: pointer;
    display: inline-block;

    /* pentru a preveni deformarea textului daca e prea lung */
    flex-shrink: 0;

    /*pentru bifa*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.circle-icon:focus {
    outline: none;
}

.delete-btn {
    margin-left: auto;
    color: rgb(129,129,129);;
    font-size: 2rem;

    cursor: pointer;
    transition: color 0.2s ease, opacity 0.2s ease;
    opacity: 0;

    padding-right: 10px;
    line-height: 1;
}

.task-item:hover .delete-btn {
    opacity: 1;
}

.delete-btn:hover {
    color: rgb(203, 45, 62);
}

/* FOOTER */

.footer-style {
    position: relative;

    display: none; /* Ascuns implicit */
    height: 40px;
    background-color: white;
    border-top: 1px solid rgb(200, 200, 200);

    align-items: center;
    justify-content: space-between;

    padding: 0 15px;
    color: black;
    font-size: 0.9rem;

    /*offset-x | offset-y | blur-radius | spread-radius | color*/

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 
                0 8px 0 -3px rgb(246, 246, 246),    /*prima pag*/
                0 9px 1px -3px rgba(0, 0, 0, 0.2), 
                0 16px 0 -6px rgb(246, 246, 246),   /*a 2 a pag*/
                0 17px 2px -6px rgba(0, 0, 0, 0.2)
}

.footer-left, .footer-middle, .footer-right {
    flex: 1;
}   

.footer-middle {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.filter-btn {
    background: none;
    border: 1px solid transparent;
    padding: 3px 8px;
    border-radius: 3px;
    cursor: pointer;
    color: #000;
    font-family: inherit;
    transition: all 0.2s;
}

.filter-btn:hover {
    border-color: rgb(203, 45, 62);
}

.filter-btn.selected {
    border-color:rgb(203, 45, 62);
    box-shadow: 0 0 2px rgb(203, 45, 62);
    color: #000;
}

.footer-right {
    text-align: right;
}

#clear-completed {
    background: none;
    border: none;
    color: black;
    font-size: 14px;
    cursor: pointer;
    font-family: inherit;
    visibility: hidden;
}

#clear-completed.show {
    visibility: visible;
    opacity: 1;
}

#clear-completed:hover {
    text-decoration: underline;
}

.edit-input {
    flex: 1;
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: 300;
    color: #4d4d4d;
    padding: 5px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    outline: none;
    margin-left: 45px;
}

.task-item:focus-within .delete-btn {
    display: none;
}

/* COLORS */

.red-brown-color {
    color: rgb(203,45,62);
}

.very-light-gray {
    color: rgb(200, 200, 200);
}

.dark-gray {
    color: rgb(129,129,129);
}


